{% extends "portfolio/base_r.html" %}
{% block content %}
<!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2><span style="text-decoration:overline;">Contact</span></h2>
              <p>Thank you for visiting my portfolio website. I hope you have enjoyed browsing
                 through my work and getting a sense of my style and capabilities.
  
                If you have any questions about my work or would like to discuss
                 a potential project, I would love to hear from you. Please don't hesitate
                  to get in touch using the contact form below, 
                and I will respond as soon as possible.
                
                Thank you for your interest in my work, and 
                I look forward to the possibility of working with you.</p>
  
            </div>
          </div>
        </div>
      </div><!-- End Page Header -->
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
  
          <div class="row gy-4 justify-content-center">
  
            <div class="col-lg-3">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Accra, Ghana</p>
                </div>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-lg-3">
              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>valmo405studio@gmail.com</p>
                </div>
              </div>
            </div><!-- End Info Item -->
  
            <div class="col-lg-3">
              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+233551480170</p>
                  <p>+233553254048</p>
                </div>
              </div>
            </div><!-- End Info Item -->
  
          </div>
  
          <div class="row justify-content-center mt-4">
  
            <div class="col-lg-9">
              <form action="{% url 'contact' %}" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="text" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div><!-- End Contact Form -->
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
{% endblock %}  