{% extends "portfolio/base_r.html" %}
{% block content %}
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2><span style="text-decoration: overline;">Services </span></h2>
              <p>At Redeemer studios, I'm passionate about what I do, and I'm committed to delivering exceptional service that helps my clients achieve their objectives. 
                Contact me today to learn more about how I can help you.</p>
  
              <a class="cta-btn" href="contact.html">Available for hire</a>
  
            </div>
          </div>
        </div>
      </div><!-- End Page Header -->
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-bounding-box-circles"></i>
                <h4><a href="" class="stretched-link">Graphic Designs</a></h4>
                <p>Looking for stunning visuals that capture your brand's essence? Look no further! 
                    As a skilled graphic designer, I can bring your vision to life 
                    with creativity and precision. Let's work together to create designs that leave a lasting impression.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-circle-half"></i>
                <h4><a href="" class="stretched-link">AI Solutions Design</a></h4> <p> Transform your business with innovative AI solutions that address real-world challenges. As an experienced AI solutions designer, I specialize in creating intelligent systems that optimize processes, enhance decision-making, and deliver measurable results. From data-driven models to custom AI-powered applications, let's work together to bring your vision to life with cutting-edge technology that drives success. </p>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-bounding-box-circles"></i>
                <h4><a href="" class="stretched-link">Personalized Tutoring</a></h4> <p> Achieve academic success with personalized tutoring tailored to your learning needs! As an experienced tutor, I provide one-on-one guidance to help you master challenging subjects, improve your skills, and gain confidence. Let's work together to create a learning experience that sets you up for long-term success and leaves a lasting impact on your academic journey. </p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-bounding-box"></i>
                <h4><a href="" class="stretched-link">Brand Consulting</a></h4>
                <p>Take your brand to the next level with the help of a professional brand consultant. 
                    As an experienced consultant, I can provide tailored strategies and insights to elevate
                     your brand and increase your visibility in the marketplace.
                     Let's work together to create a strong brand identity 
                     that resonates with your target audience.</p>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
{% endblock %}  