{% extends "portfolio/base_r.html" %}
{% block content %}
    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2><span style="text-decoration: overline;">Services </span></h2>
              <p>At Valmo studios, I'm passionate about what I do, and I'm committed to delivering exceptional service that helps my clients achieve their objectives. 
                Contact me today to learn more about how I can help you.</p>
  
              <a class="cta-btn" href="contact.html">Available for hire</a>
  
            </div>
          </div>
        </div>
      </div><!-- End Page Header -->
  
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-bounding-box-circles"></i>
                <h4><a href="" class="stretched-link">Graphic Designs</a></h4>
                <p>Looking for stunning visuals that capture your brand's essence? Look no further! 
                    As a skilled graphic designer, I can bring your vision to life 
                    with creativity and precision. Let's work together to create designs that leave a lasting impression.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-circle-half"></i>
                <h4><a href="" class="stretched-link">3D Animations</a></h4>
                <p>Elevate your brand with captivating 3D animations that bring your ideas to life. 
                    As an experienced 3D animator, I can help you create stunning visuals
                     that engage your audience and leave a lasting impression.
                      Let's bring your vision to life in 3D!</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-bounding-box-circles"></i>
                <h4><a href="" class="stretched-link">Logo Design</a></h4>
                <p>Make a lasting impression with a unique and memorable logo! As an expert logo designer, 
                    I can create a custom design that perfectly represents your brand and sets you 
                    apart from the competition.
                    Let's work together to create a logo 
                    that leaves a lasting impression on your audience.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-xl-3 col-md-6 d-flex">
              <div class="service-item position-relative">
                <i class="bi bi-bounding-box"></i>
                <h4><a href="" class="stretched-link">Brand Consulting</a></h4>
                <p>Take your brand to the next level with the help of a professional brand consultant. 
                    As an experienced consultant, I can provide tailored strategies and insights to elevate
                     your brand and increase your visibility in the marketplace.
                     Let's work together to create a strong brand identity 
                     that resonates with your target audience.</p>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
{% endblock %}  